/***HEADER***/
#hero {
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    color:#fff;
    padding-bottom: 60px;
}
#hero .text {
    text-align: center;
}
#hero img {
    width: 100px;
    padding-left: 30px;
}
h1 h2 {
    color:white;
}
#hero h1 {
  animation: slide-left 3s ease-in 1s 1 normal forwards;
  letter-spacing: 2px;
}
@keyframes slide-left {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
#hero h2 {
    padding-top: 30px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    animation: slide-left 2.5s ease-in 1s 1 normal forwards;
}
@keyframes slide-left {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
#hero button {
    border: none; 
    background-color: #9f65c7;
    animation: fade ease 6s 1 forwards;
}
@keyframes fade {
	0% {
		opacity: 0;
	}
    60% {
        opacity:0;
    }
	100% {
		opacity: 1;
	} 
}

/***MAIN***/

/***ELEVATE***/
#elevate .half-width-1 {
    padding: 40px 0px 30px 30px;
}
#elevate .half-width-2 img {
    width:100%;
    display: none;
}
#elevate h2 {
    color:#4c1074;
}
#elevate strong {
    color:#4c1074;
}

/***ONLINE***/
#online {
    background-image: url('../img/banner-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0px 50px 30px;
}
#online .full-width {
    color: #4c1074;
}
#online h2 {
    animation: fade ease 8s 1 forwards;
}
@keyframes fade {
	0% {
		opacity: 0;
	}
    60% {
        opacity:0;
    }
	100% {
		opacity: 1;
	} 
}
button {
    background-color: #ec7820;
    color: white;
    border: none;
    animation: fade ease 8s 1 forwards;
}
@keyframes fade {
	0% {
		opacity: 0;
	}
    60% {
        opacity:0;
    }
	100% {
		opacity: 1;
	} 
}

/***FEATURES***/
#features .row {
    padding:50px 20px 50px 20px;
}
#features .row-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    text-align: center;
}
#features img {
    width: 50px;
    padding:10px;
    margin: 10px;
    border: .5px solid rgb(86, 53, 99);
    border-radius: 25px;
    transition: 0.3s ease-in-out;
}
#features img:hover {
    transform: scale(1.1);
}
#features strong {
    color:#4c1074;
}

/***CUSTOMERS***/
#customers {
    background-image: url('../img/banner-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#customers .text {    
    display:block;
    width: 40%;
    padding: 50px 20px 50px 30px;
    animation: slide-left 6s ease-in 1s 1 normal forwards;
  }
  @keyframes slide-left {
      0% {
          opacity: 0;
          transform: translateX(250px);
      }
      100% {
          opacity: 1;
          transform: translateX(0);
      }
  }
#customers h2 {
    color: #4c1074;
}

/***REVIEWS***/
#reviews .row {
    padding:50px 20px 50px 0px;
}
#reviews .col-sm {
    padding: 20px;
}
#reviews .text {
    padding-left: 14px;
}
#reviews .carousel-item {
    width: 95%;
}
#reviews h6 {
    color:#4c1074;
    text-align: center;
}

/***FOOTER***/
footer {
    text-align: center;
    margin:30px;
}
footer img {
    width: 30px;
    margin: 10px;
}

/*--------TABLET--------*/

@media only screen and (min-width: 768px) and (max-width: 1199px){
/*Tablet Styles Here*/

/*** TABLET HEADER ***/
    #hero {
        background-image: url('../img/hero.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        padding-bottom: 80px;
        width: 100%;
    }
    #hero .text {
        padding:50px 0px;
    }
    #hero img {
        width: 185px;
        padding-left: 80px;
        padding-top: 20px;
    }

/*** TABLET ELEVATE ***/
    #elevate .full-width {
        display: flex;
        justify-content: left;
        flex-flow: row wrap;
    }
    #elevate .half-width-1 {
        flex-basis: 50%;
        padding: 50px 60px 45px 130px;
        margin-top: 20px;
    }
    #elevate .half-width-2 {
        width: 50%;
    }  
    #elevate .half-width-2 img {
        width:100%;
        display:block;
        animation: slide-left 4s ease-in 1s 1 normal forwards;
      }
      @keyframes slide-left {
          0% {
              opacity: 0;
              transform: translateX(250px);
          }
          100% {
              opacity: 1;
              transform: translateX(0);
          }
      }

/*** TABLET ONLINE ***/
    #online {
        padding: 130px 0px 100px 130px;
        height: 350px;
    }
/*** TABLET FEATURES ***/
    #features {
        padding-top: 10px; 
    }
    #features .col {
        display: flex;
        align-items: center;
        justify-items: center;
    }
    #features .row-items {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        text-align: center;
    }
    #features .item {
        display: block;
        text-align: center;
        padding: 10px;
        margin: 12px;
    }
    #features img {
        width: 80px;
        padding:10px;
        margin: 15px;
        border-radius: 40px;
      }
    #features .text {
        padding: 50px 0px 75px 70px;
    }

/*** TABLET CUSTOMERS ***/
    #customers .full-width {
        display: flex;
    }
    #customers .text { 
        width: 100%;
        padding: 120px 130px 100px 500px;
        height: 350px;
    }

/*** TABLET REVIEWS ***/
    #reviews .text {
        padding-top: 60px;
        padding-left: 90px;
    }
}

/*---------- DESKTOP ----------*/

@media only screen and (min-width: 1200px) {
/*Desktop Styles Here*/ 

/*** DESKTOP HEADER ***/
    #hero .text {
        padding:90px 0px;
    }
    #hero img {
        width: 300px;
        padding-left: 120px;
        padding-top: 20px;
    }

/*** DESKTOP ELEVATE ***/
    #elevate .full-width {
        display: flex;
        justify-content: left;
        flex-flow: row wrap;
    }
    #elevate .half-width-1 {
        flex-basis: 50%;
        padding: 160px 60px 75px 200px;
    }
    #elevate .half-width-2 {
        width: 50%;
    } 
    #elevate .half-width-2 img {
        width:100%;
        display:block;
    } 

/*** DESKTOP ONLINE ***/
    #online {
        padding: 200px 50px 100px 200px;
        height: 500px;
    }

/*** DESKTOP FEATURES ***/
    #features {
        padding-top: 10px; 
    }
    #features .col {
        display: flex;
        align-items: center;
        justify-items: center;
    }
    #features .row-items {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        text-align: center;
    }
    #features .item {
        display: block;
        text-align: center;
        padding: 10px;
        margin: 8px;
    }
    #features img {
        width: 100px;
        padding:10px;
        margin: 20px;
        border-radius: 50px;
    }
    #features .text {
        padding: 20px 0px 75px 110px;
    }

/*** DESKTOP CUSTOMERS ***/
    #customers .full-width {
        display: flex;
    }
    #customers .text { 
        width: 100%;
        padding: 160px 130px 100px 775px;
        height: 500px;
    }

/*** TABLET REVIEWS ***/
    #reviews .text{
        padding-top: 60px;
        padding-left: 110px;
    }
}

/*---------- PRINT ------------*/

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]::after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }
  
    pre {
      white-space: pre-wrap !important;
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  