/*********** NEXT: alight text to right************/
/***HEADER***/
#hero {
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    color:#fff;
    padding-bottom: 60px;
}

#hero .text{
    text-align: center;
}
#hero img {
    width:30%;
    padding-left: 30px;
}
h1 h2 {
    color:white;
}
h1 {
  animation: slide-left 3s ease-in 0s 1 normal forwards;
}
@keyframes slide-left {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
 
h2 {
    padding-top: 30px;
}
#hero button {
    border: none;  
}

/***MAIN***/

/***ELEVATE***/
#elevate .half-width-1 {
    padding: 20px 0px 0px 30px;
}
#elevate .half-width-2 img{
    width:100%;
}

/***ONLINE***/
#online {
    background-image: url('../img/banner-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0px 50px 30px;
}
#online .full-width{
    color: #4c1074;
}
button {
    background-color: #ec7820 !important;
    color: white;
    border: none;
}

/***FEATURES***/
#features .row {
    padding:50px 20px 50px 20px;
}
#features .row-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    text-align: center;
}
#features img {
    width: 50px;
    padding:10px;
    margin:10px;
    border: .5px solid rgb(86, 53, 99);
    border-radius: 30px;
    transition: 0.3s ease-in-out;
  }
#features img:hover {
    transform: scale(1.1);
}

/***CUSTOMERS***/
#customers {
    background-image: url('../img/banner-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #4c1074;
}
#customers .text {    
    display:block;
    width: 40%;
    padding: 50px 20px 50px 30px;
}

/***REVIEWS***/
#reviews .row {
    padding:50px 20px 50px 20px;
}
#reviews .carousel-item {
    width: 85%;
}
#reviews p {
    padding-right: 50px;
}

/***FOOTER***/
footer {
    text-align: center;
    margin:30px;
}
footer img {
    width: 30px;
    margin: 10px;
}

/*--------TABLET--------*/
@media only screen and (min-width: 768px) and (max-width: 1199px){
/*Tablet Styles Here*/
/*** TABLET HEADER ***/
    #hero {
        background-image: url('../img/hero.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        padding-bottom: 80px;
        width: 100%;
    }

/*** TABLET ELEVATE ***/
    #elevate .full-width {
        display: flex;
        justify-content: left;
        flex-flow: row wrap;
    }
    #elevate .half-width-1 {
        flex-basis: 50%;
        padding: 50px 60px 75px 130px;
    }
    #elevate .half-width-2 {
        width: 50%;
    }
}  
/*** TABLET ONLINE ***/
#online {
    padding: 130px 0px 100px 130px;
    height: 350px;

}
/*** TABLET FEATURES ***/
#features {
    padding-top: 10px; 
}
#features .col{
    display: flex;
    align-items: center;
    justify-items: center;
}
#features .row-items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    text-align: center;
  }
#features .item{
    display: block;
    text-align: center;
    padding: 10px;
    margin: 8px;
}

/*** TABLET CUSTOMERS ***/
#customers .full-width {
    display: flex;
}
#customers .text { 
    width: 100%;
    padding: 120px 130px 100px 450px;
    height: 350px;
    text-align: right;
}
#reviews .col-sm
/*---------- DESKTOP ----------*/

@media only screen and (min-width: 1200px) {
/*Desktop Styles Here*/ 
/*** DESKTOP ELEVATE ***/
#elevate .full-width {
    display: flex;
    justify-content: left;
    flex-flow: row wrap;
}
#elevate .half-width-1 {
    flex-basis: 50%;
    padding: 50px 30px 75px 60px;
}
#elevate .half-width-2 {
    width: 50%;
}
}

/*---------- PRINT ------------*/
@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]::after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }
  
    pre {
      white-space: pre-wrap !important;
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  
  